body{
    font-family:Arial, Helvetica, sans-serif;
    padding: 20px;
    text-align: center;
    background-color: rgba(121, 164, 244, 0.668);
}

html,body{
    height: 100%;
}
img {
  width: 400px; 
  height: 300px; 
}